body.dashboard-background {
    background-image: url('Fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.info-container {
    color: white;
    position: relative;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }
  
  .info-container::before,
  .info-container::after {
    content: "";
    background-color: #fab5704c;
    position: absolute;
  }
  
  .info-container::before {
    border-radius: 50%;
    width: 10rem; 
    height: 10rem; 
    top: 25%; 
    right: 5%; 
  }
  
  .info-container::after {
    content: "";
    position: absolute;
    height: 5rem; 
    top: 6%; 
    right: 3%; 
    border: 1px solid;
  }
  
  .info-box {
    width: 24em; 
    height: 25em; 
    padding: 2rem; 
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 1rem; 
    transition: all ease 0.3s;
    text-align: center; 
  }
  
  .info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .info-box .title {
    font-size: 3rem; 
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  
  .info-box div strong {
    display: block;
    margin-bottom: 1rem; 
  }
  
  .info-box div p {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  
  .info-box div span {
    font-size: 1rem; 
    font-weight: 300;
  }
  
  .info-box div span:nth-child(3) {
    font-weight: 500;
    margin-right: 0.5rem; 
  }
  
  .info-box:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
  }
  